<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑数据</title>
</head>
<body>
    <!-- <a style="font-size: 30px;">id:<%=detail.id%></a> -->
    <form action="update" method="POST">
        <input type="hidden" name="id" value="<%=detail.id%>" />
        <input type="text" name="name" value="<%=detail.name%>" placeholder="用户名"/>
        <br/>
        <input type="number" name="pass" value="<%=detail.pass%>" placeholder="密码"/>
        <br/>
        <input type="text" name="cpass" value="<%=detail.cpass%>" placeholder="确认密码"/>
        <br/>
        <input type="text" name="phone" value="<%=detail.phone%>" placeholder="电话"/>
        <br/>
        <br/>
        <button class="button">提交</button>
    </form>
</body>
</html>