<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员页面</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body> 
 
    <h2 class="ui olive header item" style="font-family: STSong">管理后台</h2>
     <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
   
  </nav>
  <div class="m-padded-tb-hugex">
  <div class="ui attached pointing menu">
    <div class="ui container">
    <div class="right menu">
        <a href="/index" class=" item"> Home  </a>
        <a href="/manag" class=" item"> 用户  </a>
        <a href="#" class="teal active item">品种</a>
    </div>
    </div>
  </div>
  </div>

  <br>
  <br>
  <br>
  <!--中间内容-->
  <form method="POST">
  <div  class="">
    <div class="ui container">
      <div  class="ui secondary segment form">
        <input type="hidden" name="page" >
        <div class="inline fields">
          <div class="field">
            <input type="text" name="name" placeholder="果汁名">
          </div>
          <!-- <div class="field">
            <input type="number" name="phone" placeholder="电话">
          </div> -->
          <div class="field">
          </div>
          <div class="field">
                <button type="submit" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
    </form>
      <div id="table-container">
        <table class="ui compact teal table">
          <thead>
          <tr align="center">
            <th>ID</th>
            <th>照片</th>
            <th>果汁名</th>
            <th>单价</th>
            <th>介绍</th>
            <th>浏览量</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="showdata">
            <% detail.forEach(o =>{ %>
          <tr align="center">
            <td><%=o.id %></td>
            <td></td>
            <td><%=o.name %></td>
            <td><%=o.money %></td>
            <td><%=o.introduce %></td>
            <td><%=o.views %></td>
            <td>
               <a href="/foods/del/<%=o.id %>" class="del_button">删除</a>
               <a href="/foods/edi/<%=o.id %>" class="upd_button">修改</a>
            </td>
             </tr>
              <% }) %>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui inverted divided stackable grid">
                <div class="three wide column" align="center">
                  <a class="item">上一页</a>
                </div>

                <div class="ten wide column" align="center">
                  <p>第 <span ></span> 页，共 <span></span> 页，有 <span></span></p>
                </div>

                <div class="three wide column" align="center">
                  <a class="item">下一页</a>
                </div>
              </div>
              <div align="center">
                <a href="/add_foods" id="add_button">
                  <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
                </a>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>  
</body>
</html>