<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员页面</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/Table.css">
</head>


<body>
    <table>
		<thead>
			<tr>
				<td><a href="/index"> Home  </a></td>
				<td><a href="/about">About</a></td>
				<td><a href="/juice">Order Juice</a></td>
				<td><a href="/tes"> Testimonial</a></td>
				<td><a href="/contact">Contact Us</a></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="6">
					<!-- <input type="button" href="/add" value="新增" id="add_button"/> -->
					<a href="/add" id="add_button">新增</a>
				</td>
			</tr>
			<tr>
				<td name="name">用户名</span></td>
				<td name="phone">电话<span class="upBtn"></span><span class="downBtn"></td>
				<td name="juice">果汁<span class="upBtn"></span><span class="downBtn"></td>
				<td name="shop">购买东西<span class="upBtn"></span><span class="downBtn"></td>
				<td>总物品<span class="upBtn"></span><span class="downBtn"></td>
				<td>按钮</td>
			</tr>
		</thead>
		<tbody id="showdata">
			<% detail.forEach(o =>{ %>
				<tr>
					<td><%=o.id %></td>
					<td><%=o.name %></td>
					<td><%=o.phone %></td>
					<td><%=o.juice %></td>
					<td><%=o.shop %></td>
					<td>
						<a href="/manager/delete/<%=o.id %>" class="del_button">删除</a>
						<a href="/manager/edit/<%=o.id %>" class="upd_button">修改</a>
					</td>
				</tr>
			<% }) %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6">
					<input type="button" id="nextPage" value="下一页"/>
				</td>
			</tr>
		</tfoot>
	</table>
	<!-- <script type="text/javascript" src="/javascripts/Table.js"></script>
	<script src="/javascripts/jq_test.js"></script>
	<script src="/javascripts/task.js"></script> -->
</body>
</html>